node_modules/
apps/*/node_modules/
packages/*/node_modules/
**/node_modules/
.next/
*.next/
.next*/
apps/*/.next/
apps/*/.next*/
packages/*/.next/
packages/*/.next*/
**/.next/
**/.next*/
out/
apps/*/out/
packages/*/out/
**/out/
dist/
apps/*/dist/
packages/*/dist/
**/dist/
.turbo/
apps/*/.turbo/
packages/*/.turbo/
**/.turbo/
coverage/
**/coverage/
.pnpm-store/
.pnpm-store/**
tmp/
apps/*/tmp/
packages/*/tmp/
**/tmp/
.cache/
**/.cache/
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
!.env.*.example
