APP_ENV=dev
APP_VERSION=0.1.0
SERVICE_NAME=library

DATABASE_URL=postgresql+asyncpg://ksu:REPLACE_POSTGRES_PASSWORD@postgres:5432/ksu
DB_SCHEMA=library

JWT_SECRET_KEY=REPLACE_WITH_STRONG_RANDOM_SECRET
JWT_ALGORITHM=HS256

REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

MAIN_SERVICE_URL=http://main:8000
INTERNAL_API_KEY=REPLACE_WITH_STRONG_INTERNAL_API_KEY

CORS_ORIGINS=["http://dev.kisiiuniversity.ac.ke","http://dev.research.kisiiuniversity.ac.ke","http://api.dev.kisiiuniversity.ac.ke","https://dev.kisiiuniversity.ac.ke","https://dev.research.kisiiuniversity.ac.ke","https://api.dev.kisiiuniversity.ac.ke"]

LOG_LEVEL=INFO
LOG_FORMAT=json
LOG_DIR=/app/logs
